@import url("/css/tabela.css");
@import url("/css/dados.css");

* {
  --cor1: #444;
  --cor2: #666;
  --cor3: #777;
  --cor4: #888;
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

body {
  background-color: #222;
}

.jogoContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
